[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

traits = ">=4.6.0"
numpy = "*"
"h5py" = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
